@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0E1122;
  color: #C71B52;
}

/*#010326;*/
/*#0E1122;*/